vs/*
*.ipch
*.db
*.tlog
*.obj
*.pdb
.vs/nixutils/v16/.suo
.vs/nixutils/v16/Browse.VC.db-shm
.vs/nixutils/v16/Browse.VC.db-wal
.vs/nixutils/v16/Browse.VC.opendb
.vs/nixutils/v16/Solution.VC.db-shm
.vs/nixutils/v16/Solution.VC.db-wal
*.un~
.gitignore~
pidof/Win32/itm/Release/pidof.exe.recipe
pidof/Win32/itm/Release/pidof.iobj
pidof/Win32/itm/Release/pidof.ipdb
pidof/Win32/itm/Release/pidof.log
pidof/x64/Debug/pidof.Build.CppClean.log
pidof/x64/Debug/pidof.exe.recipe
pidof/x64/Debug/pidof.log
pidof/x64/Debug/pidof.vcxproj.FileListAbsolute.txt
pidof/x64/itm/Release/pidof.exe.recipe
pidof/x64/itm/Release/pidof.iobj
pidof/x64/itm/Release/pidof.ipdb
pidof/x64/itm/Release/pidof.log
pidof/x64/Release/pidof.exe.recipe
pidof/x64/Release/pidof.iobj
pidof/x64/Release/pidof.ipdb
pidof/x64/Release/pidof.log
touch/Win32/itm/Release/touch.exe.recipe
touch/Win32/itm/Release/touch.iobj
touch/Win32/itm/Release/touch.ipdb
touch/Win32/itm/Release/touch.log
touch/x64/itm/Release/touch.Build.CppClean.log
touch/x64/itm/Release/touch.exe.recipe
touch/x64/itm/Release/touch.iobj
touch/x64/itm/Release/touch.ipdb
touch/x64/itm/Release/touch.log
touch/x64/itm/Release/touch.vcxproj.FileListAbsolute.txt
x64/pidof.exe
x64/touch.exe
x86/pidof.exe
x86/touch.exe
*.log
*.recipe
*.txt
*.ipdb
*.iobj
*.exe
